<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="Northwind" connectionString="data source=DESKTOP-MA3N1EE\SQLEXPRESS;initial catalog=ZNorthwind;integrated security=True;connect timeout=30;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>